[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "mojo_arrow_sys"
version = "0.1.0"
description = "Python C extension for accessing Arrow C streams from Mojo"
authors = [{name = "Marius Seritan", email = "pypi@seritan.net"}]
requires-python = ">=3.7"
license = "MIT"
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Operating System :: OS Independent",
    "Development Status :: 3 - Alpha",
]

[project.urls]
Homepage = "https://github.com/mseritan/mojo_arrow_sys"
BugTracker = "https://github.com/mseritan/mojo_arrow_sys/issues"
